LD_LIBRARY_PATH={{ node_lib_dir }}
PATH={{ node_bin_dir }}:{{ ansible_env.PATH }}
RAYON_NUM_THREADS=6
ITN_FEATURES=1

# MINA_NETWORK=mesa
# MINA_PROFILE=devnet
# RUNTIMES_BASE_PATH="{{ node_bin_dir }}"
# MINA_LIBP2P_ENVVAR_NAME="MINA_LIBP2P_HELPER_PATH"
# MINA_HARDFORK_STATE_DIR="{{ node_config_dir }}"
