[Unit]
Description={{ service_identifier }}

[Service]
User={{ service_identifier }}
Group={{ service_identifier }}
WorkingDirectory={{ node_home_dir }}
EnvironmentFile={{ node_environment_secrets_file_path }}
EnvironmentFile={{ node_environment_general_file_path }}
ExecStart={{ node_bin_dir }}/{{ service_identifier }} daemon --config-directory {{ node_config_dir }} \
  --peer-list-url "{{ mina.validator.peer_list_url }}" \
  --log-level Info \
  --client-port {{ mina.validator.ports.client_port }} \
  --rest-port {{ mina.validator.ports.rest_port }} \
  --external-port {{ mina.validator.ports.external_port }} \
  --metrics-port {{ mina.validator.ports.metrics_port }} \
  --limited-graphql-port {{ mina.validator.ports.graphql_port }} \
  --coinbase-receiver {{ mina.validator.coinbase_receiver }}

ExecStop={{ node_bin_dir }}/{{ service_identifier }} client stop-daemon

Restart=always
RestartSec=4
LimitNOFILE=65536
MemoryMax=64G
StandardOutput=append:{{ node_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
