LD_LIBRARY_PATH={{ node_lib_dir }}
LOG_LEVEL=Info
FILE_LOG_LEVEL=Debug
MINA_BP_PRIVKEY={{ node_private_key_path }}
PATH=/opt/mina/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin